/* ******************************* VARIABLES ******************************* */

// Fonts
$OpenSans: 'Open Sans', sans-serif;



/* ******************************* COLORS ******************************* */

$brown: #3a1f04;
$white:#FFF;
$black: #2E2E2E;
$grey: #f2f1f1;
$bgwhite:#F8F8FA;
$bordergrey:#dee2e6;
$text:#333;


